/* line 4, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\000034}}
.xfRequired .xfLabel:after {
  content: '';
}
/* line 9, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\000039}}
.xfRequired > .xfLabel:after {
  content: '*';
}
/* line 15, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000315}}
.xfRepeatItem {
  background: whitesmoke;
}
/* line 20, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000320}}
.xfRepeatIndex .contentCol {
  background-color: whitesmoke;
}
/* line 27, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000327}}
table tbody {
  font-size: 0.85em;
}
/* line 32, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000332}}
table tbody .xfGroup > .xfControl .xfLabel {
  float: left;
  padding: 0;
  margin: 3px 3px 0 2px;
  min-width: 60px;
  font-size: 0.9em;
}
/* line 44, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000344}}
table tr td {
  vertical-align: top;
  border: thin solid #999999;
  border-collapse: collapse;
  padding: 3px;
}
/* line 50, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000350}}
table tr td > .xfGroup {
  background: #fafafa;
  border-top: thin solid;
  border-bottom: thin solid #cdcdcd;
  padding: 5px 0;
}
/* line 58, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000358}}
table tr td .xfGroup:last-child {
  border-bottom: none;
}
/* line 68, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000368}}
.vraAttributes .xfControl {
  float: left;
  border: thin solid #aaaaaa;
  border-radius: 3px;
  margin: 5px 5px 5px 0;
  padding: 0 3px;
  background: #eeeeee;
  text-align: center;
  line-height: 1.5;
}
/* line 78, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000378}}
.vraAttributes .xfLabel {
  line-height: 1.5;
  font-size: 1em;
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: thin solid #aaaaaa;
  width: 100%;
  display: none;
}
/* line 87, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000387}}
.vraAttributes .xfOutput {
  font-size: 0.7em;
}
/* line 91, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000391}}
.contentCol .vraAttributes .xfControl {
  width: auto;
}
/* line 95, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\0000395}}
.vraAttributeTrigger {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 100, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003100}}
.vraAttributeTrigger button {
  width: 16px;
  height: 16px;
  font-size: 0.9em;
  padding: 0;
  background: url(../images/icons/attributes.png);
  border: none;
  color: transparent !important;
}
/* line 111, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003111}}
.triggerCol {
  width: 10px;
}
/* line 114, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003114}}
.triggerCol button {
  width: 24px;
  height: 24px;
  font-size: 0.9em;
  padding: 0;
}
/* line 121, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003121}}
.triggerCol .btn-trashcan {
  background: url(../images/icons/trash_can.png) no-repeat;
  color: transparent;
  border: none;
}
/* line 128, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003128}}
.prefCol {
  width: 10px;
}
/* line 131, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003131}}
.prefCol .xfLabel {
  font-size: 0.9em;
  margin-bottom: 3px;
}
/* line 137, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003137}}
.contentCol {
  width: 100%;
}
/* line 140, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003140}}
.contentCol > .xfGroup {
  width: 100%;
  display: inline-block;
  padding-bottom: 5px;
  border-top: none !important;
  position: relative;
}
/* line 150, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003150}}
.contentCol .xfControl .widgetContainer {
  display: inline-block;
  width: auto;
  float: left;
}
/* line 157, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003157}}
.contentCol .xfTextarea .widgetContainer {
  width: 90%;
}
/* line 160, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003160}}
.contentCol .xfTextarea .widgetContainer textarea {
  width: 100%;
}
/* line 166, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003166}}
.WorktypeSet .contentCol .xfControl {
  width: 100%;
}
/* line 169, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003169}}
.WorktypeSet .contentCol .xfControl .widgetContainer {
  width: 100%;
  text-align: center;
}
/* line 174, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003174}}
.WorktypeSet .contentCol .xfControl input[type='text'] {
  width: 90%;
}
/* line 184, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003184}}
#attrDialog .attrDialogGroup .xfControl {
  float: left;
}
/* line 187, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003187}}
#attrDialog .attrDialogGroup .xfLabel {
  float: left;
  margin: 2px 10px;
  width: 100px;
  text-align: right;
}
/* line 195, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003195}}
#attrDialog .attrDialogGroup .xfSelect1 .xfValue,
#attrDialog .attrDialogGroup .xfInput .xfValue {
  height: 22px;
}
/* line 201, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003201}}
#attrDialog .attrDialogGroup .xfSelect1 .xfValue,
#attrDialog .attrDialogGroup .xfInput .xfValue {
  width: 250px;
  margin-bottom: 5px;
}
/* line 207, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003207}}
#attrDialog .attrDialogGroup .deleteAttribute {
  display: block;
  float: right !important;
}
/* line 211, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003211}}
#attrDialog .attrDialogGroup .deleteAttribute button {
  font-size: 10px;
  margin: 0 0 0 -1px;
  padding: 0 4px;
}
/* line 218, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003218}}
#attrDialog .attrDialogGroup .buttonBar {
  clear: both;
}
/* line 225, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003225}}
.buttonBar .xfTrigger {
  display: inline-block !important;
  font-size: 0.85em;
  margin: 5px;
}
/* line 231, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003231}}
.notesDisplayTrigger {
  float: right;
}
/* line 234, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003234}}
#notes {
  width: 100%;
}
/* line 237, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003237}}
#notes .widgetContainer {
  width: 100%;
}
/* line 240, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003240}}
#notes textarea {
  width: 100%;
}
/* line 247, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003247}}
.globalAttrs .vraAttributes .xfTrigger {
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
}
/* line 256, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003256}}
.xfTextarea {
  width: 100%;
}
/* line 259, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003259}}
.xfTextarea .widgetContainer {
  width: 100%;
}
/* line 262, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003262}}
.xfTextarea .widgetContainer textarea {
  width: 95%;
}
/* line 266, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003266}}
.toolbar {
  position: absolute;
  top: 3px;
  right: 26px;
  padding: 2px 0;
}
/* line 273, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003273}}
.toolbar button {
  background: transparent;
  color: #333333;
}
/* line 278, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003278}}
.toolbar span {
  display: block;
  float: left;
}
/* line 284, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003284}}
.toolbar .t-plus button {
  border: none;
  font-size: 30px;
  margin-top: 0;
  margin-top: -8px;
}
/* line 295, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003295}}
.toolbar .t-save button {
  background: url(../images/icons/floppy_save_disc.png) no-repeat;
  color: transparent;
  border: none;
}
/* line 302, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003302}}
.toolbar #t-close-value {
  font-size: 30px;
  margin-top: 0;
  background: url(../images/icons/keyboard_up.png) no-repeat;
  color: transparent;
}
/* line 311, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003311}}
.bf .globalAttrs .xfContainer {
  display: inline-block;
  min-height: 12px;
  position: relative;
  width: 100%;
  background: transparent;
  border: none;
  padding: 3px;
}
/* line 321, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003321}}
.bf form .hiddenControl {
  display: none;
}
/* line 325, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003325}}
.bf .dijitTitlePane .t-edit .xfReadOnly {
  opacity: 0.5 !important;
}
/* line 329, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003329}}
.bf .dijitTitlePane:hover .t-edit .xfReadOnly .toolbarbutton:hover {
  opacity: 0.5 !important;
}
/* line 334, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003334}}
.bf .dateTable label,
.bf .dateTable .xfLabel {
  float: left;
  font-size: 1.1em;
  margin: 3px 3px 0 2px;
  padding: 0;
  display: block !important;
}
/* line 343, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003343}}
.bf .dateTable tr td {
  border: thin none;
}
/* line 345, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003345}}
.bf .dateTable tr td > .xfGroup {
  border-top: thin none;
}
/* line 355, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003355}}
.bf .dateTable .altNotation td .xfRepeat {
  display: inline-block;
  margin-left: 35px;
}
/* line 361, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003361}}
.bf .dateTable .altNotation td .xfRepeatItem {
  height: 20px;
}
/* line 364, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003364}}
.bf .dateTable .altNotation td .xfRepeatItem .xfControl {
  clear: none;
  float: left;
}
/* line 376, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003376}}
.tundra .dijitTitlePaneContentInner {
  padding: 0;
}
/* line 380, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003380}}
.xfInput .xfSecret .xfValue,
.xfTextarea .xfValue,
.xfSelect1 .xfValue,
.xfSelect .xfValue {
  width: auto;
}
/* line 383, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/edit-form.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/edit-form\.less}line{font-family:\00003383}}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 0;
  margin: 0;
}
