.xfRequired .xfLabel:after {
  content: '';
}
.xfRequired > .xfLabel:after {
  content: '*';
}
.xfRepeatItem {
  background: whitesmoke;
}
.xfRepeatIndex .contentCol {
  background-color: whitesmoke;
}
table tbody {
  font-size: 0.85em;
}
table tbody .xfGroup > .xfControl .xfLabel {
  float: left;
  padding: 0;
  margin: 3px 3px 0 2px;
  min-width: 60px;
  font-size: 0.9em;
}
table tr td {
  vertical-align: top;
  border: thin solid #999999;
  border-collapse: collapse;
  padding: 3px;
}
table tr td > .xfGroup {
  background: #fafafa;
  border-top: thin solid;
  border-bottom: thin solid #cdcdcd;
  padding: 5px 0;
}
table tr td .xfGroup:last-child {
  border-bottom: none;
}
.vraAttributes .xfControl {
  float: left;
  border: thin solid #aaaaaa;
  border-radius: 3px;
  margin: 5px 5px 5px 0;
  padding: 0 3px;
  background: #eeeeee;
  text-align: center;
  line-height: 1.5;
}
.vraAttributes .xfLabel {
  line-height: 1.5;
  font-size: 1em;
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: thin solid #aaaaaa;
  width: 100%;
  display: none;
}
.vraAttributes .xfOutput {
  font-size: 0.7em;
}
.contentCol .vraAttributes .xfControl {
  width: auto;
}
.vraAttributeTrigger {
  position: absolute;
  top: 0;
  right: 0;
}
.vraAttributeTrigger button {
  width: 16px;
  height: 16px;
  font-size: 0.9em;
  padding: 0;
  background: url(../images/icons/attributes.png);
  border: none;
  color: transparent !important;
}
.triggerCol {
  width: 10px;
}
.triggerCol button {
  width: 24px;
  height: 24px;
  font-size: 0.9em;
  padding: 0;
}
.triggerCol .btn-trashcan {
  background: url(../images/icons/trash_can.png) no-repeat;
  color: transparent;
  border: none;
}
.prefCol {
  width: 10px;
}
.prefCol .xfLabel {
  font-size: 0.9em;
  margin-bottom: 3px;
}
.contentCol {
  width: 100%;
}
.contentCol > .xfGroup {
  width: 100%;
  display: inline-block;
  padding-bottom: 5px;
  border-top: none !important;
  position: relative;
}
.contentCol .xfControl .widgetContainer {
  display: inline-block;
  width: auto;
  float: left;
}
.contentCol .xfTextarea .widgetContainer {
  width: 90%;
}
.contentCol .xfTextarea .widgetContainer textarea {
  width: 100%;
}
.WorktypeSet .contentCol .xfControl {
  width: 100%;
}
.WorktypeSet .contentCol .xfControl .widgetContainer {
  width: 100%;
  text-align: center;
}
.WorktypeSet .contentCol .xfControl input[type='text'] {
  width: 90%;
}
#attrDialog .attrDialogGroup .xfControl {
  float: left;
}
#attrDialog .attrDialogGroup .xfLabel {
  float: left;
  margin: 2px 10px;
  width: 100px;
  text-align: right;
}
#attrDialog .attrDialogGroup .xfSelect1 .xfValue,
#attrDialog .attrDialogGroup .xfInput .xfValue {
  height: 22px;
}
#attrDialog .attrDialogGroup .xfSelect1 .xfValue,
#attrDialog .attrDialogGroup .xfInput .xfValue {
  width: 250px;
  margin-bottom: 5px;
}
#attrDialog .attrDialogGroup .deleteAttribute {
  display: block;
  float: right !important;
}
#attrDialog .attrDialogGroup .deleteAttribute button {
  font-size: 10px;
  margin: 0 0 0 -1px;
  padding: 0 4px;
}
#attrDialog .attrDialogGroup .buttonBar {
  clear: both;
}
.buttonBar .xfTrigger {
  display: inline-block !important;
  font-size: 0.85em;
  margin: 5px;
}
.notesDisplayTrigger {
  float: right;
}
#notes {
  width: 100%;
}
#notes .widgetContainer {
  width: 100%;
}
#notes textarea {
  width: 100%;
}
.globalAttrs .vraAttributes .xfTrigger {
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
}
.xfTextarea {
  width: 100%;
}
.xfTextarea .widgetContainer {
  width: 100%;
}
.xfTextarea .widgetContainer textarea {
  width: 95%;
}
.toolbar {
  position: absolute;
  top: 3px;
  right: 26px;
  padding: 2px 0;
}
.toolbar button {
  background: transparent;
  color: #333333;
}
.toolbar span {
  display: block;
  float: left;
}
.toolbar .t-plus button {
  border: none;
  font-size: 30px;
  margin-top: 0;
  margin-top: -8px;
}
.toolbar .t-save button {
  background: url(../images/icons/floppy_save_disc.png) no-repeat;
  color: transparent;
  border: none;
}
.toolbar #t-close-value {
  font-size: 30px;
  margin-top: 0;
  background: url(../images/icons/keyboard_up.png) no-repeat;
  color: transparent;
}
.bf .globalAttrs .xfContainer {
  display: inline-block;
  min-height: 12px;
  position: relative;
  width: 100%;
  background: transparent;
  border: none;
  padding: 3px;
}
.bf form .hiddenControl {
  display: none;
}
.bf .dijitTitlePane .t-edit .xfReadOnly {
  opacity: 0.5 !important;
}
.bf .dijitTitlePane:hover .t-edit .xfReadOnly .toolbarbutton:hover {
  opacity: 0.5 !important;
}
.bf .dateTable label,
.bf .dateTable .xfLabel {
  float: left;
  font-size: 1.1em;
  margin: 3px 3px 0 2px;
  padding: 0;
  display: block !important;
}
.bf .dateTable tr td {
  border: thin none;
}
.bf .dateTable tr td > .xfGroup {
  border-top: thin none;
}
.bf .dateTable .altNotation td .xfRepeat {
  display: inline-block;
  margin-left: 35px;
}
.bf .dateTable .altNotation td .xfRepeatItem {
  height: 20px;
}
.bf .dateTable .altNotation td .xfRepeatItem .xfControl {
  clear: none;
  float: left;
}
.tundra .dijitTitlePaneContentInner {
  padding: 0;
}
.xfInput .xfSecret .xfValue,
.xfTextarea .xfValue,
.xfSelect1 .xfValue,
.xfSelect .xfValue {
  width: auto;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 0;
  margin: 0;
}
