/* line 1, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\000031}}
#thumbBar {
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 6, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\000036}}
#thumbBar li {
  list-style: none;
  width: 96px;
  padding: 5px;
  float: left;
}
/* line 14, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000314}}
.full iframe {
  border: 0 none;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 23, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000323}}
.outer-center {
  padding: 0 !important;
}
/* line 27, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000327}}
.outer-south {
  margin: 6px;
  height: 192px;
}
/* line 32, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000332}}
.ui-widget-header {
  background: #999999;
  border: 1px solid #AAAAAA;
  color: #222222;
  font-weight: bold;
}
/* line 39, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000339}}
.slider {
  margin: 20px 0 30px;
}
/* line 42, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000342}}
.scroll-pane {
  overflow: hidden;
  width: 100%;
}
/* line 46, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000346}}
.scroll-content {
  white-space: nowrap;
  float: left;
  list-style-type: none;
  margin: 6px 0;
}
/* line 52, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000352}}
.scroll-content li {
  display: inline;
  margin-right: 10px;
  position: relative;
}
/* line 57, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000357}}
.scroll-content li:last-child {
  margin: 0;
}
/* line 61, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000361}}
.scroll-content img {
  border: 6px solid #fff;
}
/* line 65, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000365}}
.scroll-bar-wrap {
  clear: left;
  padding: 0 4px 0 2px;
  background-color: #222;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 76, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000376}}
.scroll-bar-wrap .ui-slider {
  background: none;
  border: 0;
  height: 16px;
  margin: 0 auto;
}
/* line 83, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000383}}
.scroll-bar-wrap .ui-handle-helper-parent {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/* line 90, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\0000390}}
.scroll-bar-wrap .ui-slider-handle {
  position: absolute;
  top: 2px;
  height: 12px;
  z-index: 2;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 102, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\00003102}}
.scroll-bar-wrap .ui-slider-handle .ui-icon {
  margin: -8px auto 0;
  position: relative;
  top: 50%;
  background: url("ui-icons_cccccc_256x240.png") 0 -224px no-repeat;
  height: 8px;
  width: 8px;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
}
/* line 116, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\00003116}}
.ui-state-default {
  background: url("slider.png") repeat-x scroll 50% 50% #222222;
  border: 1px solid #666;
}
/* line 120, /home/zwobit/develop/UNI-HD/ziziphus/resources/css/group.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/develop\/UNI-HD\/ziziphus\/resources\/css\/group\.less}line{font-family:\00003120}}
.ui-state-hover,
.ui-state-focus {
  background: url("slider-hover.png") 50% 50% repeat-x;
  border: 1px solid #999;
}
