html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 100%;
}
/*
.tundra .dijitTitlePaneContentOuter{
    overflow: auto;
    max-height: 550px;
}
*/
.bf {
  font-size: 0.9em;
  /*
    input, select{
        padding: 1px;
    }
*/

}
.bf .imagePanel {
  text-align: center;
}
.bf .xfRepeatIndex {
  border-top: 3px solid #cccccc;
  border-bottom: 3px solid #cccccc;
}
.bf .dialogControls {
  width: 100%;
  display: block;
  text-align: center;
  border-bottom: thin solid #cccccc;
}
.bf .dialogControls .xfControl {
  margin: 0 3px;
}
.bf .columntitle {
  padding: 8px;
  background: #555555;
  color: white;
  text-align: center;
  font-size: 1.2em;
}
.bf select {
  width: auto;
}
.bf .dijitTitlePane {
  position: relative;
}
.bf .t-edit {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  text-align: right;
}
.bf .dijitTitlePane:hover .t-edit {
  display: inline-block;
}
.bf #sectionDialog {
  position: relative;
}
.bf #sectionDialog .dialogControls {
  top: 0;
  height: 24px;
  background: whitesmoke;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0px;
}
.bf .xfInput .xfValue {
  height: 18px;
}
.bf table {
  width: 100%;
  height: 100%;
}
.bf table td {
  vertical-align: top;
}
.bf .icon {
  border: thin solid #999999 !important;
  height: 20px;
  width: 20px;
}
.bf .icon-edit {
  background-position: -94px -70px;
  position: absolute;
  top: -14px;
  right: 0;
}
.bf .icon-remove {
  background-position: -310px 2px;
}
.bf .icon-zoom-in {
  margin-top: 2px;
  background-position: -334px 2px;
}
.bf .icon-zoom-out {
  margin-top: 2px;
  background-position: -358px 2px;
}
.bf .xfSwitch {
  display: inline-block !important;
  width: 100% !important;
}
.bf .xfSwitch .xfSelectedCase {
  display: inherit;
  width: 100%;
}
.bf .vraSection div.display-container {
  clear: both;
}
.bf .vraSection .simple .notes-container {
  display: none;
}
.bf .vraSection .full .notes-container {
  display: block;
  clear: both;
}
.bf .vraSection .full .notes-container .notes {
  font-size: smaller;
}
.bf .vraSection .full .notes-container .notes:before {
  content: 'Notes';
  font-weight: bold;
  display: block;
  text-decoration: underline;
}
.bf .vraSection .vraAttr {
  white-space: nowrap;
  display: inline-block;
}
.bf .vraSection .vraAttrName {
  font-weight: bold;
}
.bf .vraSection .vraAttrName:after {
  content: ": ";
}
.bf .simple .detail {
  display: none;
}
.bf .simple .detail-inline {
  display: none;
}
.bf .simple .detail-cell {
  display: none;
}
.bf .simple .simple-inline:after {
  content: '...';
}
.bf .simple .detail-li {
  display: none;
}
.bf .simple .nodata {
  display: none;
}
.bf .full .detail {
  display: block;
  font-size: 0.9em;
}
.bf .full .detail-inline {
  display: inline;
}
.bf .full .detail-cell {
  display: table-cell;
}
.bf .full .simple-inline:after {
  content: none;
}
.bf .full .detail-li {
  display: list-item;
}
.bf .full .nodata {
  display: inline-block;
  font-size: 0.7em;
  color: #999999;
}
.bf .pref {
  font-weight: bold;
}
.bf .dijitDialogCloseIcon {
  display: none;
}
.bf #closeEditor {
  position: absolute;
  right: 14px;
  top: 24px;
}
.bf .close {
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
}
.tundra .dijitTitlePaneTitle {
  background: #999999;
  color: white;
}
.relatedImage {
  width: 100%;
  max-width: 530px;
}
.tundra .dijitMenu,
.tundra .dijitMenuBar {
  background: #454545;
  color: #f5f5f5;
}
#editDialog {
  width: 880px;
}
.ui-layout-content {
  padding: 0 !important;
}
.ui-layout-north,
.ui-layout-south {
  background: #f5f5f5 !important;
}
.ui-layout-south .xfOutput {
  float: right;
  font-size: 0.7em;
}
.ui-layout-south .xfLabel {
  font-size: 1em;
}
