@gutterColor:#333333;
@menubarColor:#111111;
@bodyFontColor:#bdbdbd;
@sidebarColor:#444444;
@imageColor:#898989;
@sectionColor:#666666;


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 100%;
}
ul.inline{
  margin: 4px !important;
}
ul.inline > li, ol.inline > li {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
}
.xfLabel {
  display: inline-block;
  padding-top: 0;
  vertical-align: baseline;

}
.xfOutput .xfValue {
  display: inline-block;
  padding-top: 1px;
}

.xfHint{
  display: none !important;
  visibility: hidden !important;
}

.bf .sidePanel .editHighlight{
  background-color: steelblue;
}

/*
.tundra .dijitTitlePaneContentOuter{
    overflow: auto;
    max-height: 550px;
}
*/
.inline .icon{
  color:transparent;
}
#workpicture{
  background: url(../images/icons/work-picture.png) no-repeat center center transparent;
}
#workpictureimage{
  background: url(../images/icons/work-picture-image.png) no-repeat center center transparent;

}
#pictureimage{
  background: url(../images/icons/picture-imagerec.png) no-repeat center center transparent;
}

#delete-workrecord {
  background: url(/exist/apps/ziziphus/resources/css/../images/icons/database_delete.png) no-repeat center center transparent;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  min-height: 24px;
}

#user{
  padding-top: 5px;
  margin-right: 3px;
}
.bf{
    font-size:0.9em;

    .imagePanel{
        background-size: contain;
        height: 97%;
        text-align: center;
        width: 97%;
    }
    .xfRepeatIndex{
        border-top:3px solid #cccccc;
        border-bottom: 3px solid #cccccc;
        background: #dddddd !important;
    }

    .dialogControls{
        width: 100%;
        display: block;
        text-align: center;
        border-bottom:thin solid #cccccc;

        .xfControl{
            margin: 0 3px;
        }
    }

    .columntitle {
        padding: 8px;
        background:#777777;
        color:white;
        text-align: center;
        font-size: 1.2em;

      .showXML {
        background: url(../images/icons/xml_document.png) no-repeat center center;
        border: medium none;
        float: right;
        height: 24px;
        padding: 2px;
        width: 24px;
        color:transparent !important;
      }
    }
/*
    input, select{
        padding: 1px;
    }
*/
    select{
        width: auto;
    }
    .dijitTitlePane{
        position:relative;
    }

    .dijitTitlePane:hover .t-edit{
        display: inline-block;
    }

    /*
    .dijitTitlePane:hover .toolbar{
      display: inline-block;
    }
    */

    .editHighlight~.dijitTitlePaneContentOuter .t-edit {
      display: inline-block;

      .button-edit button {
        display:none;
      }
    }

    #sectionDialog{
        position: relative;

        .dialogControls {
            top: 0;
            height: 24px;
            background: whitesmoke;
            width: 100%;
            margin: 0;
            padding: 0;
            left: 0px;
        }
    }
    .xfInput .xfValue{
        height: 18px;
    }

    .viewADateTable {
        height: auto;
        margin-bottom: 0;
        td {
           border: medium none;
            width: 50%;
        }
    }
    .vraSetInnerRepeatView,
    .viewDateTable {
        height: auto;
        margin-bottom: 0;
        
        td {
            border: medium none;
            width: 50%;
            background-color: #FFFFFF !important;
        }
    }

    table{
        width: 100%;
        height: 100%;

        td{
            vertical-align: top;
        }
    }
    //mixin used below
/*
    .button{
        border: thin solid #999999 !important;
        height: 20px;
        width: 20px;
    }
    .button-edit {
        background-position: -94px -70px;
        position: absolute;
        top: -14px;
        right: 0;
    }
*/

    .icon-remove {
        background-position: -310px 2px;
    }

    .icon-zoom-in {
        margin-top:2px;
        background-position: -334px 2px;
    }

    .icon-zoom-out {
        margin-top:2px;
        background-position: -358px 2px;
    }

    .xfSwitch {
        display: inline-block !important;
        width: 100% !important;

        .xfSelectedCase {
            display: inherit;
            width: 100%;
        }
    }

    .vraSection {
        div.display-container {
            clear: both;
        }

        .simple {
            .notes-container {
                display: none;
            }
        }

        .full {
            .notes-container {
                display: block;
                clear: both;

                .notes {
                    font-size: smaller;
                }
                .notes:before {
                    content: 'Notes';
                    font-weight: bold;
                    display: block;
                    text-decoration: underline;
                }
            }
        }

        .vraAttr {
            white-space: nowrap;
            display: inline-block;
        }
        .vraAttrName {
            font-weight: bold;
        }
        .vraAttrName:after {
            content: ": ";
        }
    }

    .simple {
        .detail {
            display:none;
        }
        .detail-inline {
            display: none;
        }
        .detail-cell {
            display: none;
        }
        .simple-inline:after {
            content: '...';
        }
        .detail-li {
            display: none;
        }
        .nodata{
          display: none;
        }
    }

    .full {
        .detail {
            display:block;
            font-size: 0.9em;
        }
        .detail-inline {
            display: inline;
        }
        .detail-cell {
            display: table-cell;
        }
        .simple-inline:after {
            content: none;
        }
        .detail-li {
            display: list-item;
        }
        .nodata{
          display: inline-block;
          font-size: 0.7em;
          color:#999999;
        }
    }

    //specific stlyes
    .pref{
        font-weight: bold;
    }

    .dijitDialogCloseIcon{
        display: none;
    }

}
.tundra .dijitTitlePaneTitle{
    background:#999999;
    color:white;
    padding: 5px 4px;
}
.relatedImage{
    background-size: contain;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.tundra .dijitMenu, .tundra .dijitMenuBar {
    background: #454545;
    color:#f5f5f5;
}
#editDialog{
    width: 880px;
}

.ui-layout-content{
  padding: 0 !important;
}
.ui-layout-north, .ui-layout-south{
  background: #f5f5f5 !important;
}
.ui-layout-south{
  .xfOutput {
    float: right;
    font-size: 0.7em;
  }
  .xfLabel {
    font-size: 1em;
  }
}

.forceVisible .hidden{
  display: block;
  visibility: inherit;
}

.separator {
  text-align: center;
  font-style: italic;
  font-size: 0.6em;
  background: steelblue;
  margin: 10px 0;
  border-bottom: thin solid #bbb;
  color: white;
  opacity: 0.8;
}
.btn-small{
  font-size:9px;
}

.historyButton {
  background: url("../images/icons/history.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  float: right;
  height: 24px;
  padding: 2px;
  width: 24px;
  color:transparent !important;
}

.toolbarbutton{
  width: 24px;
  height: 24px;
  border:none;
  padding: 2px;
  border-radius: 3px;
}
.toolbarbutton:hover{
  opacity: 1.0;
}

.t-edit{
  display: none;
  position:absolute;
  top:5px;
  right:4px;
  text-align: right;
  z-index: 300;
  padding: 2px 0;

  .button-edit button{
    background: url(../images/icons/write_compose_new.png) no-repeat;
  }

  .button-zoom-in {
    background: url("../images/icons/zoom_in.png") no-repeat scroll 0 0 transparent;
  }
  .button-zoom-out {
    background: url("../images/icons/zoom_out.png") no-repeat scroll 0 0 transparent;
  }
}

#save-button button{
  width: 24px;
  height: 24px;
  background: url(../images/icons/database_add.png) no-repeat;
}

.subtitle {
  float:left;
  padding: 0 2px;
}

/*
#113

div[data-bf-bind] {
    display: inline;
    width: 100%;
}
*/