html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 100%;
}
.tundra .dijitTitlePaneContentOuter {
  overflow: auto;
  max-height: 550px;
}
.bf {
  font-size: 0.9em;
}
.bf .xfRepeatIndex {
  border-top: 3px solid #cccccc;
  border-bottom: 3px solid #cccccc;
}
.bf .dialogControls {
  width: 100%;
  display: block;
  text-align: center;
  border-bottom: thin solid #cccccc;
}
.bf .dialogControls .xfControl {
  margin: 0 3px;
}
.bf .panel {
  background: whitesmoke;
  padding: 0;
}
.bf .panel .columntitle {
  padding-left: 2px;
  background: #777777;
  color: white;
}
.bf .panel input,
.bf .panel select {
  padding: 1px;
}
.bf .panel select {
  width: auto;
}
.bf .panel .dijitTitlePane {
  position: relative;
}
.bf .panel .t-edit {
  position: absolute;
  top: -3px;
  right: 3px;
}
.bf #sectionDialog {
  position: relative;
}
.bf #sectionDialog .dialogControls {
  top: 0;
  height: 24px;
  background: whitesmoke;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0px;
}
.bf .xfInput .xfValue {
  height: 14px;
}
.bf table {
  width: 100%;
  height: 100%;
}
.bf table td {
  vertical-align: top;
}
.bf table .sidePanel {
  min-width: 480px;
  width: 480px;
  background: #999999;
}
.bf table .imagePanel {
  padding: 30px 5px;
  text-align: center;
}
.bf table .imagePanel #vraImage {
  width: 100%;
}
.bf .icon {
  border: thin solid #999999 !important;
  height: 20px;
  width: 20px;
}
.bf .icon-edit {
  background-position: -94px -70px;
}
.bf .icon-remove {
  background-position: -310px 2px;
}
.bf .icon-zoom-in {
  margin-top: 3px;
  background-position: -334px 2px;
}
.bf .icon-zoom-out {
  margin-top: 3px;
  background-position: -358px 2px;
}
.bf .xfSwitch {
  display: inline-block !important;
  width: 100% !important;
}
.bf .xfSwitch .xfSelectedCase {
  display: inherit;
  width: 100%;
}
.bf .vraSection div.display-container {
  clear: both;
}
.bf .vraSection .simple .notes-container {
  display: none;
}
.bf .vraSection .full .notes-container {
  display: block;
  clear: both;
}
.bf .vraSection .full .notes-container .notes {
  font-size: smaller;
}
.bf .vraSection .full .notes-container .notes:before {
  content: 'Notes';
  font-weight: bold;
  display: block;
  text-decoration: underline;
}
.bf .vraSection .vraAttr {
  white-space: nowrap;
  display: inline-block;
}
.bf .vraSection .vraAttrName {
  font-weight: bold;
}
.bf .vraSection .vraAttrName:after {
  content: ": ";
}
.bf .simple .detail {
  display: none;
}
.bf .simple .detail-inline {
  display: none;
}
.bf .simple .detail-cell {
  display: none;
}
.bf .simple .simple-inline:after {
  content: '...';
}
.bf .simple .detail-li {
  display: none;
}
.bf .full .detail {
  display: block;
}
.bf .full .detail-inline {
  display: inline;
}
.bf .full .detail-cell {
  display: table-cell;
}
.bf .full .simple-inline:after {
  content: none;
}
.bf .full .detail-li {
  display: list-item;
}
.bf .pref {
  font-weight: bold;
}
.bf .dijitDialogCloseIcon {
  display: none;
}
.bf #closeEditor {
  position: absolute;
  right: 14px;
  top: 24px;
}
.bf .close {
  border: none;
}
.tundra .dijitTitlePaneTitle {
  background: #999999;
  color: white;
}
