/* line 9, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\000039}}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 100%;
}
/* line 15, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000315}}
ul.inline {
  margin: 4px !important;
}
/* line 18, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000318}}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
}
/* line 24, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000324}}
.xfLabel {
  display: inline-block;
  padding-top: 0;
  vertical-align: baseline;
}
/* line 30, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000330}}
.xfOutput .xfValue {
  display: inline-block;
  padding-top: 1px;
}
/* line 35, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000335}}
.xfHint {
  display: none !important;
  visibility: hidden !important;
}
/* line 40, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000340}}
.bf .sidePanel .editHighlight {
  background-color: steelblue;
}
/*
.tundra .dijitTitlePaneContentOuter{
    overflow: auto;
    max-height: 550px;
}
*/
/* line 50, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000350}}
.inline .icon {
  color: transparent;
}
/* line 53, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000353}}
#workpicture {
  background: url(../images/icons/work-picture.png) no-repeat center center transparent;
}
/* line 56, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000356}}
#workpictureimage {
  background: url(../images/icons/work-picture-image.png) no-repeat center center transparent;
}
/* line 60, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000360}}
#pictureimage {
  background: url(../images/icons/picture-imagerec.png) no-repeat center center transparent;
}
/* line 64, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000364}}
#delete-workrecord {
  background: url(/exist/apps/ziziphus/resources/images/icons/database_delete.png) no-repeat center center transparent;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  min-height: 24px;
}
/* line 73, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000373}}
#user {
  padding-top: 5px;
  margin-right: 3px;
}
/* line 77, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000377}}
.bf {
  font-size: 0.9em;
  /*
    input, select{
        padding: 1px;
    }
*/
  /*
    .dijitTitlePane:hover .toolbar{
      display: inline-block;
    }
    */
  /*
    .button{
        border: thin solid #999999 !important;
        height: 20px;
        width: 20px;
    }
    .button-edit {
        background-position: -94px -70px;
        position: absolute;
        top: -14px;
        right: 0;
    }
*/
}
/* line 80, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000380}}
.bf .imagePanel {
  background-size: contain;
  height: 97%;
  text-align: center;
  width: 97%;
}
/* line 86, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000386}}
.bf .xfRepeatIndex {
  border-top: 3px solid #cccccc;
  border-bottom: 3px solid #cccccc;
  background: #dddddd !important;
}
/* line 92, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000392}}
.bf .dialogControls {
  width: 100%;
  display: block;
  text-align: center;
  border-bottom: thin solid #cccccc;
}
/* line 98, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\0000398}}
.bf .dialogControls .xfControl {
  margin: 0 3px;
}
/* line 103, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003103}}
.bf .columntitle {
  padding: 8px;
  background: #777777;
  color: white;
  text-align: center;
  font-size: 1.2em;
}
/* line 110, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003110}}
.bf .columntitle .showXML {
  background: url(../images/icons/xml_document.png) no-repeat center center;
  border: medium none;
  float: right;
  height: 24px;
  padding: 2px;
  width: 24px;
  color: transparent !important;
}
/* line 125, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003125}}
.bf select {
  width: auto;
}
/* line 128, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003128}}
.bf .dijitTitlePane {
  position: relative;
}
/* line 132, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003132}}
.bf .dijitTitlePane:hover .t-edit {
  display: inline-block;
}
/* line 142, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003142}}
.bf .editHighlight ~ .dijitTitlePaneContentOuter .t-edit {
  display: inline-block;
}
/* line 145, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003145}}
.bf .editHighlight ~ .dijitTitlePaneContentOuter .t-edit .button-edit button {
  display: none;
}
/* line 150, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003150}}
.bf #sectionDialog {
  position: relative;
}
/* line 153, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003153}}
.bf #sectionDialog .dialogControls {
  top: 0;
  height: 24px;
  background: whitesmoke;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0px;
}
/* line 163, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003163}}
.bf .xfInput .xfValue {
  height: 18px;
}
/* line 167, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003167}}
.bf .viewADateTable {
  height: auto;
  margin-bottom: 0;
}
/* line 170, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003170}}
.bf .viewADateTable td {
  border: medium none;
  width: 50%;
}
/* line 175, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003175}}
.bf .vraSetInnerRepeatView,
.bf .viewDateTable {
  height: auto;
  margin-bottom: 0;
}
/* line 180, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003180}}
.bf .vraSetInnerRepeatView td,
.bf .viewDateTable td {
  border: medium none;
  width: 50%;
  background-color: #FFFFFF !important;
}
/* line 187, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003187}}
.bf table {
  width: 100%;
  height: 100%;
}
/* line 191, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003191}}
.bf table td {
  vertical-align: top;
}
/* line 210, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003210}}
.bf .icon-remove {
  background-position: -310px 2px;
}
/* line 214, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003214}}
.bf .icon-zoom-in {
  margin-top: 2px;
  background-position: -334px 2px;
}
/* line 219, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003219}}
.bf .icon-zoom-out {
  margin-top: 2px;
  background-position: -358px 2px;
}
/* line 224, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003224}}
.bf .xfSwitch {
  display: inline-block !important;
  width: 100% !important;
}
/* line 228, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003228}}
.bf .xfSwitch .xfSelectedCase {
  display: inherit;
  width: 100%;
}
/* line 235, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003235}}
.bf .vraSection div.display-container {
  clear: both;
}
/* line 240, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003240}}
.bf .vraSection .simple .notes-container {
  display: none;
}
/* line 246, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003246}}
.bf .vraSection .full .notes-container {
  display: block;
  clear: both;
}
/* line 250, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003250}}
.bf .vraSection .full .notes-container .notes {
  font-size: smaller;
}
/* line 253, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003253}}
.bf .vraSection .full .notes-container .notes:before {
  content: 'Notes';
  font-weight: bold;
  display: block;
  text-decoration: underline;
}
/* line 262, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003262}}
.bf .vraSection .vraAttr {
  white-space: nowrap;
  display: inline-block;
}
/* line 266, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003266}}
.bf .vraSection .vraAttrName {
  font-weight: bold;
}
/* line 269, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003269}}
.bf .vraSection .vraAttrName:after {
  content: ": ";
}
/* line 275, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003275}}
.bf .simple .detail {
  display: none;
}
/* line 278, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003278}}
.bf .simple .detail-inline {
  display: none;
}
/* line 281, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003281}}
.bf .simple .detail-cell {
  display: none;
}
/* line 284, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003284}}
.bf .simple .simple-inline:after {
  content: '...';
}
/* line 287, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003287}}
.bf .simple .detail-li {
  display: none;
}
/* line 290, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003290}}
.bf .simple .nodata {
  display: none;
}
/* line 296, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003296}}
.bf .full .detail {
  display: block;
  font-size: 0.9em;
}
/* line 300, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003300}}
.bf .full .detail-inline {
  display: inline;
}
/* line 303, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003303}}
.bf .full .detail-cell {
  display: table-cell;
}
/* line 306, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003306}}
.bf .full .simple-inline:after {
  content: none;
}
/* line 309, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003309}}
.bf .full .detail-li {
  display: list-item;
}
/* line 312, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003312}}
.bf .full .nodata {
  display: inline-block;
  font-size: 0.7em;
  color: #999999;
}
/* line 320, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003320}}
.bf .pref {
  font-weight: bold;
}
/* line 324, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003324}}
.bf .dijitDialogCloseIcon {
  display: none;
}
/* line 329, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003329}}
.tundra .dijitTitlePaneTitle {
  background: #999999;
  color: white;
  padding: 5px 4px;
}
/* line 334, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003334}}
.relatedImage {
  background-size: contain;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
/* line 340, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003340}}
.tundra .dijitMenu,
.tundra .dijitMenuBar {
  background: #454545;
  color: #f5f5f5;
}
/* line 344, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003344}}
#editDialog {
  width: 880px;
}
/* line 348, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003348}}
.ui-layout-content {
  padding: 0 !important;
}
/* line 351, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003351}}
.ui-layout-north,
.ui-layout-south {
  background: #f5f5f5 !important;
}
/* line 355, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003355}}
.ui-layout-south .xfOutput {
  float: right;
  font-size: 0.7em;
}
/* line 359, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003359}}
.ui-layout-south .xfLabel {
  font-size: 1em;
}
/* line 364, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003364}}
.forceVisible .hidden {
  display: block;
  visibility: inherit;
}
/* line 369, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003369}}
.separator {
  text-align: center;
  font-style: italic;
  font-size: 0.6em;
  background: steelblue;
  margin: 10px 0;
  border-bottom: thin solid #bbb;
  color: white;
  opacity: 0.8;
}
/* line 379, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003379}}
.btn-small {
  font-size: 9px;
}
/* line 383, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003383}}
.historyButton {
  background: url("../images/icons/history.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  float: right;
  height: 24px;
  padding: 2px;
  width: 24px;
  color: transparent !important;
}
/* line 393, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003393}}
.toolbarbutton {
  width: 24px;
  height: 24px;
  border: none;
  padding: 2px;
  border-radius: 3px;
}
/* line 400, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003400}}
.toolbarbutton:hover {
  opacity: 1.0;
}
/* line 404, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003404}}
.t-edit {
  display: none;
  position: absolute;
  top: 5px;
  right: 4px;
  text-align: right;
  z-index: 300;
  padding: 2px 0;
}
/* line 413, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003413}}
.t-edit .button-edit button {
  background: url(../images/icons/write_compose_new.png) no-repeat;
}
/* line 417, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003417}}
.t-edit .button-zoom-in {
  background: url("../images/icons/zoom_in.png") no-repeat scroll 0 0 transparent;
}
/* line 420, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003420}}
.t-edit .button-zoom-out {
  background: url("../images/icons/zoom_out.png") no-repeat scroll 0 0 transparent;
}
/* line 425, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003425}}
#save-button button {
  width: 24px;
  height: 24px;
  background: url(../images/icons/database_add.png) no-repeat;
}
/* line 431, /home/zwobit/work/dev/customers/UNI-HD/ziziphus/resources/css/layout.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/zwobit\/work\/dev\/customers\/UNI-HD\/ziziphus\/resources\/css\/layout\.less}line{font-family:\00003431}}
.subtitle {
  float: left;
  padding: 0 2px;
}
/*
#113

div[data-bf-bind] {
    display: inline;
    width: 100%;
}
*/
