.bf {
    .vraSection {

        .description {
            border: thin dashed black;
            padding: 1ex 1em;
            margin-top: 2ex;
            margin-bottom: 2ex;
        }

        .locationSet {
            .location-subTitle {
                font-weight: bold;
                display: block;
                margin-top: 1ex;
            }

            ol, ul {
                margin-top: 1ex;
                margin-bottom: 1ex;
            }
        }
    }
}
